.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.message:last-child {
  margin-bottom: 60px;
}

.message__user {
  margin-left: auto;
  text-align: left !important;
}

.message__userCard {
  background-color: #0b81ff !important;
}

.message__guestCard {
  background-color: #e9e9eb !important;
}

@media (max-width: 450px) {
  .message__text {
    font-size: 20px !important;
  }
}
